body {
    background-color: #27272e;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app__layout {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 85%;
    height: 100vh;
    color: white;
}
