body {
    background-color: #27272e;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app__layout {
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 85% 5%;
    grid-template-areas:
        ' header '
        ' main '
        ' footer ';
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0 auto;
    width: 85%;
}

