.header__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &--counter {
        align-self: center;
        justify-self: end;
    }
}

.header {
    &__button {
        background-color: #9fdd5a;
        border-radius: 6px;
        border: none;
        color: black;
        height: 30px;
        width: 20%;
    }

    &__title {
        font-size: 3em;
    }
}