.header{
    &__layout {
        grid-area: header;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }

    &--counter {
        align-self: center;
        justify-self: end;
    }
    &__menu {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: end;
    }


    &__button {
        background-color: #9fdd5a;
        border-radius: 6px;
        border: none;
        color: black;
        cursor: pointer;
        height: 30px;
        width: 60%;
    }

    &__title {
        font-size: 3em;
    }
}


@media (min-width: 300px) {
    .header {
        &__layout {
            margin: 20px 0;
        }

        &__title {
            font-size: 1em;
        }
    }
}

@media (min-width: 768px) {
    .header {
        &__layout {
            margin: 0;
        }

        &__title {
            font-size: 2em;
        }
    }
}

@media (min-width: 1080px) {
    .header {
        &__title {
            font-size: 3em;
        }
    }
}