.main__layout {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70%;
    justify-items: center;
    margin: 2% auto;
    width: 60%;
}


.card {
    border: none;
    border-radius: 4px;
    height: 120px;
    width: 120px;

    &__front {
        background-color: orange;
    }
    &__back {
        background-color: greenyellow;
    }
}

.fas {
    font-size: 4em;
}