.main__layout {
    height: 60%;
    margin: 6%;
}


.card {
    &__front {
        background-color: orange;
        height: 90px;
        width: 90px;
    }
    &__back {
        background-color: greenyellow;
        height: 90px;
        width: 90px;
    }
}